<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC
		   "-//mybatis.org//DTD Mapper 3.0//EN" 
		   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="signup_mapper">

	<insert id="saveSignup" parameterType="Signup">
		INSERT INTO T_SIGNUP
		VALUES (
		#{id},
		#{pw},
		#{name},
		#{userType})
	</insert>

	<select id="findSignupList" resultType="Signup">
		SELECT * FROM T_SIGNUP
		ORDER BY id
	</select>


</mapper>
		   